<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
     <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img src="/img/sunveen.JPG">
    </div>
           {{>footer}}


</body>

</html>