<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
    {{>header}}
    <h1>{{message}}</h1>
    </div>
    {{>footer}}
</body>

</html>